<div id="navbar">

</div>

<div class="backdrop container">
  <div id="sidebar" class="fixed-left col-md-2"></div>
  <div id="main" class="container col-md-10 col-md-offset-2"></div>
</div>

<script>
  $(document).ready(function(){
    Explora.initialize();
  });
</script>
