<div class="fixed-left col-md-2">
  <div class="square">
    Picture
  </div>
  <h4>Tags</h4>
  <div class="tags-index">

  </div>
</div>

<div class="col-md-6 col-md-offset-2">
  <div class="questions-index">

  </div>
</div>

<div class="fixed-right col-md-4">
  <h2>Quesion Form</h2>
  <div class="question-form">

  </div>
</div>
