<div class="col-md-2">
  <h2>Tags</h2>
  <div class="tags-index">

  </div>
</div>

<div class="col-md-6">
  <h2>Questions Index</h2>
  <div class="questions-index">

  </div>
</div>

<div class="col-md-4">
  <h2>Quesion Form</h2>
  <div class="question-form">

  </div>
</div>
