<h4 class="header-line">Your Followed Tags</h4>
<div class="tags-index">

</div>
<div class="hidden tag-search">
  HI
</div>
<button class="add-search btn btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
