<textarea name="body" rows="3" placeholder="Type question here"></textarea>
<br>
<label>Tags
<select class="form-tag-list" name="tag_ids">
  <% tags.each(function(tag) { %>
  <option value="<%= tag.id %>"><%= tag.escape('tag_name') %></option>
  <% }) %>
</select>
</label>
<br>
<button>Ask Question</button>
