<!-- Modal -->
<div class="modal fade" id="questionFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ask a New Question</h4>
      </div>
      <form class="question-form">
        <div class="modal-body">
          <textarea class="body-input" name="body" rows="3" placeholder="Type question here"></textarea>
          <div class="tagged tags-index">
            <!-- tags-index subview goes here -->
          </div>
          <br>
          <div class="tag-search-form">
            <!-- tag search typeahead subview goes here -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="form-submit btn btn-primary">Ask Question</button>
        </div>
      </form>
    </div>
  </div>
</div>
