<a href="#/questions/<%= question.id %>">
  <p class="question-index-item-question">
    <%= question.escape('body') %>
  </p>
</a>

<div class="question-index-item-answer">
  This question needs answers!
</div>
<div class="answer-form">

</div>
<button class="item-answer btn btn-primary btn-xs">Answer</button>
<% if (question.get('author_id') === CURRENT_USER.id) { %>
  <button class="item-delete btn btn-default btn-xs">X</button>
<% } %>
