<div class="col-md-8">
  <div class="tag-header">
  </div>
  <div class="questions-index">

  </div>
</div>

<div class="fixed-right col-md-4">
  <button type="button" class="modal-show btn btn-primary btn-lg form-control" data-toggle="modal" data-target="#questionFormModal">
    Ask a New Question
  </button>
  <div class="question-form">
  </div>
</div>
