<div class="col-md-8">
  <div>
    <% if (tag) { %>
      <h2>
        <%= tag.escape('tag_name') %>
      </h2>
    <% } %>
  </div>
  <div class="questions-index">

  </div>
</div>

<div class="fixed-right col-md-4">
  <div class="question-form">

  </div>
</div>
