<div class="form-group">
  <label>Add Tags
    <input type="text" name="tag_name" placeholder="Search for tags"
           class="typeahead input-small">
  </label>
  <button class="btn btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
</div>
