<input type="text" name="tag_name" placeholder="Search"
       class="typeahead abc input-small">
<button class="btn btn-xs add-tag">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
